@import '../../../styles/variables';

.container {
  padding-left: 16px;
  font-family: $font-content;

  &__episode {
    font-size: toRem(16px);
    color: #0b1f32;
    letter-spacing: toRem(0.15px);
    line-height: 24px;
    font-weight: 700;
  }

  &__name {
    font-size: toRem(14px);
    color: #6e798c;
    line-height: 20px;
    letter-spacing: toRem(0.25px);
    font-weight: 400;
  }

  &__date {
    font-size: toRem(10px);
    font-weight: 500;
    line-height: 16px;
    letter-spacing: toRem(1.5px);
    color: #8e8e93;
  }
}
